html, body {
  height: 100%;
  width: 100%;
}

/*メニューバー*/


a{
  text-decoration: none;
}
.post-link {
  display: inline-block;
  word-break: break-all;
  padding: 2px 8px;
  border-radius: 5px;
  text-transform: none !important;
  white-space: normal;
  max-width: calc(100% - 30px);
  height: inherit !important;
}

.sw
